@model IEnumerable<Gamesmarket.Domain.Entity.Game>

@{
    Layout = null;
}

@foreach(var game in Model)
{
    <p>@game.Name</p>
    <p>@game.Developer</p>
    <p>@game.Description</p>
    <p>@game.Price</p>
    <p>@game.ReleaseDate</p>
    <p>@game.GameGenre</p>

}

